.Details {
  display: flex;
  justify-content: center;
}
.Details .details {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  width: 900px;
  margin-left: 10px;
}
.Details .details .carousels img {
  border-radius: 8px;
}
.Details .details .about-car {
  font-family: poppins_ligth;
}
.Details .details .about-car h1 {
  font-size: 16px;
  margin-top: 10px;
  color: var(--var_marine);
  font-weight: bold;
}
.Details .details .about-car div {
  margin-top: 10px;
}
.Details .details .about-car div span {
  font-size: 14px;
}
.Details .details .about-car div .desc {
  font-size: 14px;
  font-weight: bold;
}
.Details .details .about-car .vendeur {
  display: flex;
  flex-direction: column;
}
.Details .details .about-car .vendeur label {
  font-size: 13px;
  font-weight: bold;
}
.Details .details .about-car .contact {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
}
.Details .details .about-car .contact a {
  display: inline-block;
  border: 1px solid var(--var_marine);
  text-decoration: none;
  font-weight: bold;
  color: var(--var_marine);
  border-radius: 30px;
  padding: 5px;
  font-size: 13px;
}
.Details .details .photo-car {
  width: 100%;
}
.Details .modele {
  font-family: poppins_ligth;
  margin-left: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 1px rgba(130, 130, 130, 0.076);
  padding: 10px;
  border-radius: 5px;
}
.Details .modele .Title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 3px;
}
.Details .modele .prix {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}
.Details .modele .prix .p {
  font-size: 13px;
  font-weight: bold;
}
.Details .modele .prix .price {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: var(--var_marine);
}
.Details .modele .status {
  font-family: poppins_medium;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.Details .modele .status .dispo {
  color: #8dff8d;
}
.Details .modele .status .non-dispo {
  color: #ff8d8d;
}
.Details .modele .annonce {
  margin-top: 10px;
  color: rgba(90, 87, 87, 0.406);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.Details .modele a {
  margin-top: 10px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  background: var(--var_marine);
  padding: 7px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-radius: 30px;
}
.Details .modele a i {
  margin-right: 5px;
}
.Details .choix-message {
  margin-top: 10px;
  box-shadow: 0px 0px 12px 2px rgba(108, 113, 143, 0.05);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 30px;
}
.Details .choix-message span {
  border: 1px solid var(--var_marine);
  padding: 4px;
  border-radius: 30px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.Details .choix-message span:hover {
  letter-spacing: 0.3px;
}/*# sourceMappingURL=details.css.map */