.Details{
    display: flex;
    justify-content: center;
    .details{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        width: 900px;
        margin-left: 10px;
        .carousels{
            img{
                border-radius: 8px;
            }
        }
        .about-car{
            font-family: poppins_ligth;
            h1{
                font-size: 16px;
                margin-top: 10px;
                color: var(--var_marine);
                font-weight: bold;
            }
            div{
                margin-top: 10px;
                span{
                    font-size: 14px;
                }
                .desc{
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .vendeur{
                label{
                    font-size: 13px;
                    font-weight: bold;
                }
                display: flex;
                flex-direction: column;
            }
            .contact{
                display: flex;
                flex-direction: row-reverse;
                margin-top: 5px;
                a{
                    display: inline-block;
                    border: 1px solid var(--var_marine);
                    text-decoration: none;
                    font-weight: bold;
                    color: var(--var_marine);
                    border-radius: 30px;
                    padding: 5px;
                    font-size: 13px;
                }
            }
        }
        .photo-car{
            width: 100%;
        }
    }
    .modele{
        font-family: poppins_ligth;
        margin-left: 30px;
        width: 300px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 5px 1px rgba(130, 130, 130, 0.076);
        padding: 10px;
        border-radius: 5px;
        .Title{
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            padding: 3px;
        }
        .prix{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 5px;
            .p{
                font-size: 13px;
                font-weight: bold;
            }
            .price{
                text-align: center;
                font-size: 19px;
                font-weight: bold;
                color: var(--var_marine);
            }
        }
        .status{
            font-family: poppins_medium;
            font-size: 15px;
            display: flex;
            justify-content: center;
            .dispo{
                color: #8dff8d;
            }
            .non-dispo{
                color: #ff8d8d;
            }
        }
        .annonce{
            margin-top: 10px;
            color: rgba(90, 87, 87, 0.406);
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }
        a{
            margin-top: 10px;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            background: var(--var_marine);
            padding: 7px;
            color: white;
            font-weight: bold;
            text-decoration: none ;
            font-size: 14px;
            border-radius: 30px;
            i{
                margin-right: 5px;
            }
        }
    }
    .choix-message{
        margin-top: 10px;
        box-shadow: 0px 0px 12px 2px rgb(108 113 143 / 5%);
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 30px;
        span{
            border: 1px solid var(--var_marine);
            padding: 4px;
            border-radius: 30px;
            margin-top: 5px;
            text-align: center;
            cursor: pointer;
            transition: .4s;
        }
        span:hover{
            letter-spacing: .3px;
        }
    }
}