.mes_annonce{
    width: 100%;
    margin: 0 auto;
    font-family: poppins_ligth;
    .span-skeleton{
        display: flex;
        flex-direction: column;
        span{
            background: var(--var_gray);
            width: 250px;
            padding: 20px;
            margin-top: 5px;
            animation: animate 1s infinite;
            border-radius: 8px;
            margin-left: 10px;
        }
    }
    .content-skeleton{
        margin-top: 15px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        .img-selecton{
            width: 98%;
            height: 500px;
            border-radius: 20px;
            background: var(--var_gray);
            animation: animate 1s infinite;
        }
         @keyframes animate {
            0% {
                opacity: 0.5;
            }
            50% {
                opacity: 0.7;
            }
            100% {
                opacity: 1;
            }
        }
    }
    i{
        width: 30px;
        height: 30px;
        background: var(--var_marine);
        color: white;
        padding: 10px;
        border-radius: 30px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .en_vente{
        display: flex;
        justify-content: space-between;
        width: 30%;
        padding: 8px;
        div{
            display: flex;
            align-items: center;
            span{
                margin-left: 15px;
                font-size: 14px;
                font-family: poppins_ligth;
            }
        }
    }
    .favoris{
        display: flex;
        justify-content: space-between ;
        width: 30%;
        padding: 8px;
        margin-top: 2px;
        div{
            display: flex;
            align-items: center;
            span{
                font-size: 13px;
                margin-left: 15px;
                font-family: poppins_ligth;
            }
        }
    }
    .nombre_voiture{
        display: flex;
        justify-content: space-between ;
        width: 30%;
        padding: 8px;
        margin-top: 2px;
        div{
            display: flex;
            align-items: center;
            span{
                font-size: 14px;
                font-family: poppins_ligth;
                margin-left: 15px;
            }
        }
    }
    .annonce{
        padding: 10px;
        border-radius: 8px;
        .title{
            font-size: 20px;
            color: var(--var_marine);
            font-weight: bold;
        }
        .details{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 100%;
            gap: 10px;
            .image-gallery{
                width: 720px;
                border-radius: 20px;
                img{
                    border-radius: 20px;
                }
                .image-gallery-right-nav {
                    .image-gallery-svg{
                        font-size: 5px  !important;
                        padding: 5px;
                    }
                }
                .image-gallery-left-nav {
                    .image-gallery-svg{
                        font-size: 5px  !important;
                        padding: 5px !important;
                    }
                }
            }
            .caracteristique{
                width: 50%;
                h1{
                    font-size: 13px;
                    font-weight: bold;
                    margin-top: 5px;
                }
                table{
                    width: 100%;
                    tr{
                        border: none;
                        border-bottom: 0.1px solid rgb(160 161 208 / 4%);
                        font-size: 15px;
                    }
                    td{
                        padding: 8px;
                    }
                    .of,.simple-label{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}