.mes_annonce {
  width: 100%;
  margin: 0 auto;
  font-family: poppins_ligth;
}
.mes_annonce .span-skeleton {
  display: flex;
  flex-direction: column;
}
.mes_annonce .span-skeleton span {
  background: var(--var_gray);
  width: 250px;
  padding: 20px;
  margin-top: 5px;
  animation: animate 1s infinite;
  border-radius: 8px;
  margin-left: 10px;
}
.mes_annonce .content-skeleton {
  margin-top: 15px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
.mes_annonce .content-skeleton .img-selecton {
  width: 98%;
  height: 500px;
  border-radius: 20px;
  background: var(--var_gray);
  animation: animate 1s infinite;
}
@keyframes animate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.mes_annonce i {
  width: 30px;
  height: 30px;
  background: var(--var_marine);
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mes_annonce .content-data-me {
  display: flex;
  flex-direction: column;
  gap: 0px 10px;
}
.mes_annonce .content-data-me div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px;
  border-bottom: 2px dotted rgba(44, 43, 43, 0.666);
}
.mes_annonce .content-data-me div span {
  color: black;
  font-weight: bold;
}
.mes_annonce .content-data-me div .voiture_andy {
  color: var(--var_marine);
  width: 200px;
  padding: 18px;
  font-weight: bold;
  border-radius: 5px;
  font-weight: bold;
  font-size: 19px;
}
.mes_annonce .annonce {
  padding: 10px;
  border-radius: 8px;
}
.mes_annonce .annonce .title {
  font-size: 20px;
  color: var(--var_marine);
  font-weight: bold;
}
.mes_annonce .annonce .details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}
.mes_annonce .annonce .details .image-gallery {
  width: 700px;
}
.mes_annonce .annonce .details .image-gallery img {
  border-radius: 5px;
}
.mes_annonce .annonce .details .image-gallery .image-gallery-right-nav .image-gallery-svg {
  font-size: 5px !important;
  padding: 5px;
}
.mes_annonce .annonce .details .image-gallery .image-gallery-left-nav .image-gallery-svg {
  font-size: 5px !important;
  padding: 5px !important;
}
.mes_annonce .annonce .details .caracteristique {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.mes_annonce .annonce .details .caracteristique .name_voiture {
  font-size: 80px;
  font-weight: bold;
  color: black !important;
}
.mes_annonce .annonce .details .caracteristique .by {
  margin-top: 10px;
}
.mes_annonce .annonce .details .caracteristique .by span {
  font-size: 13px;
}
.mes_annonce .annonce .details .caracteristique .by .modele {
  font-size: 14px;
  font-weight: bold;
  font-size: 35px;
}
.mes_annonce .annonce .details .caracteristique .by .aps {
  margin-left: 20px;
}
.mes_annonce .annonce .details .caracteristique .by .marque {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
}
.mes_annonce .annonce .details .caracteristique .prix {
  display: flex;
  gap: 10px;
  border-bottom: 2px dotted black;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}
.mes_annonce .annonce .details .caracteristique .prix .pir {
  font-weight: bold;
  font-size: 25px;
}
.mes_annonce .annonce .details .caracteristique .caracte {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.mes_annonce .annonce .details .caracteristique .caracte .about div {
  margin-top: 20px;
}
.mes_annonce .annonce .details .caracteristique .caracte .about div span {
  margin-left: 5px;
  font-size: 20px;
}
.mes_annonce .annonce .details .caracteristique .caracte .about div .label {
  font-weight: bold;
  color: black;
  font-size: 14px;
}/*# sourceMappingURL=mesannonce.css.map */