.mes_annonce{
    width: 100%;
    margin: 0 auto;
    font-family: poppins_ligth;
    .span-skeleton{
        display: flex;
        flex-direction: column;
        span{
            background: var(--var_gray);
            width: 250px;
            padding: 20px;
            margin-top: 5px;
            animation: animate 1s infinite;
            border-radius: 8px;
            margin-left: 10px;
        }
    }
    .content-skeleton{
        margin-top: 15px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        .img-selecton{
            width: 98%;
            height: 500px;
            border-radius: 20px;
            background: var(--var_gray);
            animation: animate 1s infinite;
        }
         @keyframes animate {
            0% {
                opacity: 0.5;
            }
            50% {
                opacity: 0.7;
            }
            100% {
                opacity: 1;
            }
        }
    }
    i{
        width: 30px;
        height: 30px;
        background: var(--var_marine);
        color: white;
        padding: 10px;
        border-radius: 30px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-data-me{
        display: flex;
        flex-direction: column;        
        gap: 0px 10px;
        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 98%;
            margin: 0 auto;
            margin-top: 5px;
            padding: 15px;
            border-bottom: 2px dotted rgba(44, 43, 43, 0.666) ;;
            span{
                color: black;
                font-weight: bold;
            }
            .voiture_andy{
                color: var(--var_marine);
                width: 200px;
                padding: 18px;
                font-weight: bold;
                border-radius: 5px;
                font-weight: bold;
                font-size: 19px;
            }
        }
    }
    .annonce{
        padding: 10px;
        border-radius: 8px;
        .title{
            font-size: 20px;
            color: var(--var_marine);
            font-weight: bold;
        }
        .details{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 100%;
            gap: 10px;
            .image-gallery{
                width: 700px;
                img{
                    border-radius: 5px;
                }
                .image-gallery-right-nav {
                    .image-gallery-svg{
                        font-size: 5px  !important;
                        padding: 5px;
                    }
                }
                .image-gallery-left-nav {
                    .image-gallery-svg{
                        font-size: 5px  !important;
                        padding: 5px !important;
                    }
                }
            }
            .caracteristique{
                width: 50%;
                display: flex;
                flex-direction: column;
                .name_voiture{
                    font-size: 80px;
                    font-weight: bold   ;
                    color: black !important;
                }
                .by{
                    margin-top: 10px;
                    span{
                        font-size: 13px;
                    }
                    .modele{
                        font-size: 14px;
                        font-weight: bold;
                        font-size: 35px;
                    }
                    .aps{
                        margin-left: 20px;
                    }
                    .marque{
                        margin-left: 20px;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
                .prix{
                    display: flex;
                    gap: 10px;
                    border-bottom: 2px dotted black;
                    color: rgb(0, 0, 0);
                    font-weight: lighter;
                    width: 300px;
                    padding: 20px;
                    text-align: center; 
                    margin-top: 30px;
                    .pir{
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
                .caracte{
                    margin-top: 20px;
                    display: flex;
                    gap: 20px;
                    .about{
                        div{
                            margin-top: 20px ;
                            span{
                                margin-left: 5px;
                                font-size: 20px;
                            }
                            .label{
                                font-weight: bold;
                                color: black;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}