.formulaire {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formulaire .recherche {
  font-family: poppins_ligth;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.086);
}
.formulaire .recherche .title {
  font-weight: bold;
}
.formulaire .recherche .mot-cles {
  margin-top: 10px;
}
.formulaire .recherche .mot-cles div input {
  width: 30%;
  font-size: 13px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: rgba(241, 241, 241, 0.516);
}
.formulaire .recherche .details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.formulaire .recherche .details div {
  display: flex;
  flex-direction: column;
}
.formulaire .recherche .details div label {
  font-size: 14px;
  font-family: poppins_medium !important;
  margin-bottom: 5px;
}
.formulaire .recherche .details div input, .formulaire .recherche .details div select {
  background: rgba(241, 241, 241, 0.516);
  width: 200px;
  padding: 12px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  outline: none;
}
.formulaire .recherche .prix_content label {
  font-size: 14px;
  font-family: poppins_medium !important;
  margin-bottom: 5px;
}
.formulaire .recherche .prix_content .prix {
  display: flex;
  gap: 10px;
}
.formulaire .recherche .prix_content .prix input, .formulaire .recherche .prix_content .prix select {
  background: rgba(241, 241, 241, 0.516);
  width: 200px;
  padding: 12px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  outline: none;
}
.formulaire .recherche .submit {
  display: flex;
  flex-direction: row-reverse;
}
.formulaire .recherche .submit .submit_ {
  background: var(--var_marine);
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 30px;
}
.formulaire .recherche .submit i {
  font-size: 11px;
  transform: translateX(1px);
  transition: 0.5s;
}
.formulaire .content-annonce {
  width: 100%;
}
.formulaire .content-annonce .nodata {
  margin: 0 auto;
}
.formulaire .content-annonce .nodata img {
  width: 300px;
}
.formulaire .content-annonce .Annonce {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.formulaire .content-annonce .Annonce .card-object {
  font-family: poppins_ligth;
  padding: 5px;
}
.formulaire .content-annonce .Annonce .card-object a {
  text-decoration: none;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.formulaire .content-annonce .Annonce .card-object a .gray {
  width: 100%;
  height: 200px;
  animation: animate 1s infinite;
  border-radius: 5px;
  background: var(--var_gray);
}
.formulaire .content-annonce .Annonce .card-object a .gray-span {
  padding: 8px;
  border-radius: 5px;
  animation: animate 1s infinite;
  background: var(--var_gray);
}
@keyframes animate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.formulaire .content-annonce .Annonce .card-object a img {
  border-radius: 10px;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.formulaire .content-annonce .Annonce .card-object .some-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.formulaire .content-annonce .Annonce .card-object .some-details .name {
  font-weight: bold;
  font-size: 14px;
}
.formulaire .content-annonce .Annonce .card-object .some-details .favoris {
  display: flex;
  align-items: center;
  gap: 5px;
}
.formulaire .content-annonce .Annonce .card-object .some-details .favoris span {
  font-weight: bold;
  font-size: 14px;
  color: var(--var_marine);
}
.formulaire .content-annonce .Annonce .card-object .some-details .favoris i {
  color: var(--var_marine);
}/*# sourceMappingURL=Recherche.css.map */