.formulaire{  
    display: flex;
    flex-direction: column;
    width: 100%;
    .recherche{
        font-family: poppins_ligth;
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.086);
        .title{
            font-weight: bold;
        }
        .mot-cles{
            margin-top: 10px;
            div{
                input{
                    width: 30%;
                    font-size: 13px;
                    padding: 12px;
                    border-radius: 6px;
                    border: none;
                    outline: none;
                    background: rgba(241, 241, 241, 0.516);
                }
            }
        }
        .details{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                label{
                    font-size: 14px;
                    font-family: poppins_medium !important;
                    margin-bottom: 5px;
                }
                input,select{
                    background: rgba(241, 241, 241, 0.516);
                    width: 200px;
                    padding: 12px;
                    font-size: 13px;
                    border: none;
                    border-radius: 6px;
                    outline: none;
                }
            }
        }
        .prix_content{
            label{
                font-size: 14px;
                font-family: poppins_medium !important;
                margin-bottom: 5px;
            }
            .prix{
                display: flex;
                gap: 10px;
                input,select{
                    background: rgba(241, 241, 241, 0.516);
                    width: 200px;
                    padding: 12px;
                    font-size: 13px;
                    border: none;
                    border-radius: 6px;
                    outline: none;
                }
            }
        }
        .submit{
            display: flex;
            flex-direction: row-reverse;
            .submit_{
                background: var(--var_marine);
                color: white;
                font-size: 12px;
                padding: 8px;
                border-radius: 30px;
            }
            i{
                font-size: 11px;
                transform: translateX(1px);
                transition: .5s;
            }
        }
    }
    .content-annonce{
        width: 100%;
        .nodata{
            margin: 0 auto;
            img{
                width: 300px;
            }
        }
        .Annonce{
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px 20px;
            .card-object{
                font-family: poppins_ligth;
                padding: 5px;
                a{
                    text-decoration: none;
                    width: 350px;
                    display: flex;
                    flex-direction: column;
                    .gray{
                        width: 100% ;
                        height: 200px;
                        animation: animate 1s infinite;
                        border-radius: 5px;
                        background: var(--var_gray) ;
                    }
                    .gray-span{
                        padding: 8px;
                        border-radius: 5px;
                        animation: animate 1s infinite;
                        background: var(--var_gray);
                    }
                    @keyframes animate {
                        0% {
                            opacity: 0.5;
                        }
                        50% {
                            opacity: 0.7;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                    img{
                        border-radius: 10px;
                        width: 100%;
                        height: 240px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
                .some-details{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 5px;
                    .name{
                        font-weight: bold;
                        font-size: 14px;
                    }
                    .favoris{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        span{
                            font-weight: bold;
                            font-size: 14px;
                            color: var(--var_marine);
                        }
                        i{
                            color: var(--var_marine);
                        }
                    }
                }
            }
        }
    }
}