.monSolde{
  display: flex;
  justify-content: space-between;
  font-family: poppins_ligth;
  gap: 10px;
  .solde{
    background-image: linear-gradient(700deg , rgb(5, 23, 178) , rgb(191, 13, 191));
    width: 300px;
    height: 160px;
    padding: 5px;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 3px rgba(102, 6, 204, 0.3);
    .sol{
      font-size: 13px;
      font-weight: bold;
    }
    .price{
      font-size: 40px;
    }
  }
  .form-credit-solde{
    margin-top: 10px;
    div{
      input[type="text"]{
        padding: 5px;
        font-size: 14px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--var_marine);
      }
      input[type="submit"]{
        font-size: 13px;
        border: none;
        font-weight: bold;
        background: var(--var_marine);
        color: white;
        padding: 5px;
        margin-left: 5px;
        width: 100px;
        border-radius: 5px;
      }
      
    }
  }
}
.table{
  table{
    width: 100%;
    border: none !important;
    text-align: left;
    tr{
      border: none !important;
      border-radius: 25px;
    }
    .tr{
      background: var(--var_marine);
      th{
        padding: 10px;
        color: white;
      }
    }
    td{
      border: none !important;
      padding: 15px;
      border-bottom: 1px solid var(--var_marine);
      color: rgb(33, 32, 32);
    }
    .Etat1{
      font-size: 15px;
      transition: .5s;
      cursor: pointer;
    }
    .Etat1:hover{
      background: rgb(189, 2, 43);
      td{
        color: white !important;
      }
    }
    .Etat0{
      font-size: 15px;
      transition: .5s;
      cursor: pointer;
    }
    .Etat0:hover{
      td{
        color: white !important;
      }
      background: rgba(23, 66, 240, 0.453);
    }
  }
}