:root{
    --var_green : #BAFF29;
    --var_marine : #1A1B41;
    --var_light : #F1FFE7;
    --var_blue_sky : #C2E7DA;
    --var_blue : #6290C3; 
    --white : white ;
    --var_gray : rgba(231, 231, 231, 0.625) ;
}
@font-face {
    font-family: poppins_medium;
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: poppins_ligth;
    src: url("../fonts/Poppins-Light.ttf");
}
body{
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: var(--var_marine);
    border-radius: 8px;
}
::-webkit-scrollbar-track{
    background: var(--white);
    border-radius: 8px;
}
.content-data{
    .scrolled{
        background: var(--white);
    }
    header{
        font-family: poppins_medium;
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1a1b4100;
        width: 100%;
        height: 55px;
        .logo{
            img{
                width: 100%;
                background-size: contain;
                height: 50px;
            }
        }
        .nav-bar{
            span{
                font-size: 13px;
                font-weight: lighter;
                margin-left: 80px;
                font-family: poppins_ligth !important;
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
                a:hover{
                    color: rgb(186, 186, 186);
                    transition: .1s;
                }
            }
        }
        .connect{
            text-decoration: none;
            transform: translateX(-5px);
            width: 150px;
            text-align: center;
            border-radius: 30px;
            padding: 5px;
            .seconnecter{
                font-size: 13px;
                color: var(--var_marine);
                font-family: poppins_medium;
            }
        }
        margin-bottom: 10px;
    }
    .affiche{
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: inherit;
        width: 98%;
        border-radius: 30px;
        margin: 0 auto;
        .pub{
            font-family: poppins_medium;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            span{
                color: var(--var_marine);
                font-size: 90px;
                margin-left: 25px;
                font-weight: bold;
                letter-spacing: 5px;
                text-shadow: rgba(0,0,0,0.3);
            }
        }
    }
    .pagination{
        display: flex;
        gap: 10px;
        width: 95%;
        margin: 0 auto;
        div{
            display: flex;
            align-items: center;
            font-family: poppins_ligth;
            font-size: 14px;
            width: 120px;
            gap: 5px;
            i{
                color: var(--var_marine);
            }
        }
    }
    footer{
        width: 100% ;
        display: flex ;
        display: none;
        justify-content: space-around;
        background: #f3f3f338;
        font-family: poppins_ligth;
        .logo{
            padding: 10px;
            img{
                width: 200px;
                height: 100px;
                background-size: contain;
            }
            .copyright{
                font-size: 14px;
                width: 200px;
                font-weight: bold;
            }
            .reseaux{
                margin-top: 10px;
                display: flex;
                justify-content: space-evenly;
                i{
                    width: 30px;
                    height: 30px;
                    background: var(--var_marine);
                    color: white;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .company , .Techno{
            display: flex ;
            flex-direction: column;
            padding: 10px;
            label{
                font-size: 13px ;
                font-family: poppins_medium !important;
            }
            span{
                font-family: poppins_medium !important;
                font-size: 15px;
                margin-top: 5px;
                color: var(--var_marine)
            }
        }
    }
}
@import url("./login.css");
@import url("./Card.css");
@import url("./Recherche.css");
@import url("./details.css");
@import url("./message.css");
@import url("./Favorie.css");
@import url("./mesannonce.css");