@charset "UTF-8";
.slide-down {
  opacity: 1;
  transform: translateY(10px); /* Fait descendre l'élément de 100px */
}

.content {
  transition: 0.8s;
}
.content .menu {
  padding: 5px;
}
.content h6 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Poppins-Light" !important;
  margin-top: 20px;
  color: rgb(17, 16, 16);
}
.content .annonce {
  margin-bottom: 20px;
  background: var(--body);
  border-radius: 8px;
  padding: 20px;
  font-family: "Poppins-Light" !important;
}
.content .annonce .input-submit input {
  font-family: "Poppins-Light" !important;
  background: var(--root);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
}
.content .annonce .calendar .title-label {
  font-size: 13px;
  margin-bottom: 10px;
}
.content .annonce .calendar .form-check label {
  font-size: 14px;
}
.content .annonce .heure-jour {
  padding: 8px;
}
.content .annonce .heure-jour input {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 250px;
}
.content .annonce .heure-jour select {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  transform: translate(-10px, 10px);
  width: 200px;
}
.content .annonce .heure-jour .label-input label {
  font-weight: 100;
  font-family: "Poppins-Light" !important;
  font-size: 13px;
}
.content .annonce .homme-jour {
  padding: 8px;
  margin-top: 10px;
  font-family: "Poppins-Light" !important;
}
.content .annonce .homme-jour input {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 250px;
}
.content .annonce .homme-jour label {
  font-weight: 100;
  font-family: "Poppins-Light" !important;
  font-size: 13px;
}
.content .annonce .select-service {
  padding: 8px;
  margin-top: 8px;
}
.content .annonce .select-service label {
  font-weight: 100;
  font-family: "Poppins-Light" !important;
  font-size: 13px;
}
.content .annonce .select-service select {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 245px;
}
.content .annonce .age {
  padding: 8px;
}
.content .annonce .age label {
  font-weight: 100;
  font-family: "Poppins-Light" !important;
  font-size: 13px;
}
.content .annonce .age .min {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 250px;
}
.content .annonce .age .max {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 200px;
}
.content .annonce .input-button input[type=submit] {
  border: none;
  padding: 8px;
  color: white;
  background-color: var(--root);
  border-radius: 4px;
  width: 100px;
}
.content .annonce .critere {
  margin-top: 5px;
  padding: 8px;
}
.content .annonce .sous-critere label {
  font-weight: 100;
  font-family: "Poppins-Light" !important;
  font-size: 13px;
}
.content .annonce .sous-critere input {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 200px;
}
.content .annonce .sous-critere select {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 245px;
}
.content .annonce .sous-2 {
  margin-top: 10px;
}
.content .annonce .sous-thr {
  align-items: center;
}
.content .annonce .sous-3 {
  margin-top: 2px;
  align-items: center;
}
.content .annonce .sous-3 input[type=text] {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 200px;
}
.content .annonce .sous-critere-2 label {
  font-weight: 100;
  font-family: "Poppins-Light" !important;
  font-size: 13px;
}
.content .annonce .sous-critere-2 input {
  font-family: "Poppins-Light" !important;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 250px;
}

.ajout_service {
  border-radius: 8px;
  height: 200px;
  margin-left: 20px;
  background: var(--body);
}
.ajout_service .ajout {
  text-align: center;
  margin-top: 20px;
}
.ajout_service .add {
  margin-left: 20px;
  margin-top: 20px;
}
.ajout_service .add {
  font-family: "Poppins-Light" !important;
}
.ajout_service .add form label {
  font-weight: 100;
  font-size: 13px;
}
.ajout_service .add form input[type=text] {
  margin-top: 5px;
  margin-left: 8px;
  padding: 8px;
  border: none;
  outline: none;
  background-color: none;
  background: rgb(255, 255, 255);
  width: 200px;
}
.ajout_service .add .submit input[type=submit] {
  width: 100px;
  padding: 8px;
  background: none;
  border: none;
  background: var(--root);
  margin-top: 20px;
  color: white;
  border-radius: 4px;
}/*# sourceMappingURL=content.css.map */