@font-face {
    font-family:"Poppins-Light" ;
    src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family:"poopo" ;
    src: url("../fonts/Poppins-ExtraLight.ttf");
}
:root{
    --root:rgba(21, 173, 224, 0.885);
    --body:#e0dfdf18;
}
.Listepersonelle{
    transition: .8s;
}
.slide-down {
    transform: translateY(10px); /* Fait descendre l'élément de 100px */
}
table{
    font-family: "poopo";
    width: 100%;
    padding: 5px;
    tr{
        padding: 5px;
        th{
            text-align: center;
            padding: 15px;
            font-weight: lighter;
            color: #929292;
            text-align: center;
            padding: 15px;
        }
        td{
            border-bottom: 1px solid var(--body);
            padding: 15px;
            padding-top: 10px;
            text-align: center;
        }
        .true{
            background-color: rgba(40, 252, 40, 0.572);
        }
        .false{
            background-color: rgba(252, 68, 40, 0.714);
        }
    }
    .conData{
        transition: .5s;
    }
    .conData:hover{
        cursor: pointer;
        color: white;
        background: rgba(0, 0, 255, 0.208);
    }
}
